h1#titolEquip {
    width: 50%;
    color: red;
    border: solid red 1px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: white;
}

.paragrafEquip {
    width: 80%;
    border: solid black 1px;
    margin: 10px auto;
    text-align:center;
    padding:10px;
    background-color:#f2e7c3;
    display: flex;
    flex-direction: column;

    
}

.imatgeEquip{
    margin: 0 auto; 
    display: block;
}

.line {
    margin: 0 auto; 
    display: block;
    margin-bottom: 10px;
    border: 1px solid black;
    width: 25%;
}

.bold {
    font-weight: bold;
}

body {
    background-color: #eee;
}
