h1#titolInici {
    width: 50%;
    color: red;
    border: solid red 1px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: white;
}


p#paragrafInici {
    width: 80%;
    border: solid black 1px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: #f2e7c3;
}

.imatgeInici {
    width: 400px;
    margin: 10px;
    margin:0%
}

body {
    background-color: #DDD;
    text-align: center;
}

div#nomeva{
    width: 80%;
    border: solid black 1px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: #f2e7c3;
}
h1#azul {
    color: blue;
    text-align: center;
}

#nomeva ul {
    list-style-type: none;
    padding: 0;
   
    display: flex;
    flex-direction: column;
}

#nomeva li {
    margin: 10px 0;
}

#nomeva a {
    
    background-color: #DDD;
    border-radius: 20px;

    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
   
}

a:hover {
    background-color: #e04f4f;
    
}

